@model EducationalPlatform1._0.Models.ViewModels.RegisterViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up & Sign In</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <style></style>
</head>
<body>
    <div id="container" class="container">
        <div class="row">
            <div class="col align-items-center flex-col sign-up">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-up">

                        <form asp-action="Register" asp-controller="Account" method="post" enctype="multipart/form-data">
                            <div class="input-group">
                                <i class="bx bxs-user"></i>
                                <input asp-for="FName" placeholder="First Name" />
                                <span asp-validation-for="FName" class="text-danger" ></span>
                            </div>
                            <div class="input-group">
                                <i class="bx bxs-user"></i>
                                <input asp-for="LName" placeholder="Last Name" />
                                <span asp-validation-for="LName" ></span>
                            </div>
                            <div class="input-group">
                                <i class="bx bx-phone"></i>
                                <input asp-for="PhoneNumber" placeholder="Phone Number" />
                                <span asp-validation-for="PhoneNumber" ></span>
                            </div>
                            <div class="input-group">
                                <i class="bx bx-mail-send"></i>
                                <input asp-for="Email" placeholder="E-Mail" />
                                <span asp-validation-for="Email" ></span>
                            </div>
                            <div class="input-group">
                                <i class="bx bxs-lock-alt"></i>
                                <input asp-for="Password" placeholder="Password" />
                                <span asp-validation-for="Password" ></span>
                            </div>
                            <div class="input-group">
                                <i class="bx bxs-lock-alt"></i>
                                <input asp-for="ConfirmPassword" placeholder="Confirm Password" />
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="input-group">
                                <i class="bx bxs-levels"></i>
                                <select asp-for="Level">
                                    <option value="" disabled selected>Choose Level</option>
                                    <option value="level1">Level 1</option>
                                    <option value="level2">Level 2</option>
                                    <option value="level3">Level 3</option>
                                </select>
                                <span asp-validation-for="Level"></span>
                            </div>
                            <div class="input-group">
                                <label  class="bx bx-image"></label>
                                <span asp-validation-for="ImageFile"></span>
                                <input asp-for="ImageFile" />
                                <span>Choose a Personal Photo</span>
                            </div>

                            <button type="submit" id="signup-btn btn">
                                Sign Up
                            </button>
                            <p>
                                <span>Already have an account?</span>
                                <b onclick="toggle()" class="pointer">Sign in here</b>
                            </p>
                        </form>

                    </div>
                </div>
            </div>

            <div class="col align-items-center flex-col sign-in">
                <div class="form-wrapper align-items-center">
                    <div class="form sign-in">
                        <div class="input-group">
                            <i class="bx bx-phone"></i>
                            <input type="tel" placeholder="Phone" required />
                        </div>
                        <div class="input-group">
                            <i class="bx bx-mail-send"></i>
                            <input type="email" placeholder="Email" required />
                        </div>
                        <div class="input-group">
                            <i class="bx bxs-lock-alt"></i>
                            <input type="password" placeholder="Password" required />
                        </div>
                        <button type="submit" class="btn">
                            <a href="months 1.html">Sign up </a>
                        </button>
                        <p>
                            <b>Forgot password?</b>
                        </p>
                        <p>
                            <span>Don't have an account?</span>
                            <b onclick="toggle()" class="pointer">Sign up here</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row content-row">
            <div class="col align-items-center flex-col">
                <div class="text sign-in">
                    <h2>Welcome</h2>
                </div>
                <div class="img sign-in"></div>
            </div>

            <div class="col align-items-center flex-col">
                <div class="img sign-up"></div>
                <div class="text sign-up">
                    <h2>Join with us</h2>
                </div>
            </div>
        </div>
    </div>

    <script>
        let container = document.getElementById("container");

        toggle = () => {
            container.classList.toggle("sign-up");
            container.classList.toggle("sign-in");

        };

        setTimeout(() => {
            container.classList.add("sign-up");
        }, 200);

        document
            .getElementById("signup-btn")
            .addEventListener("click", function () {
                toggle();
            });
    </script>
</body>
</html>

